// ---------------------------------------------------------------------------
// Imports

@import "compass";
@import "susyone";
// @import "mixins";


// Grid Units
$total-columns  : 12;
$column-width   : 4em;
$gutter-width   : 1em;
$grid-padding   : 0em;
$break          : 50em 16;
$container-style: fluid;

// Typography
$base-font-size	: 14px;
$base-line-height : 20px;

//Colors
$olive          : #F25438;
$sand           : #E1E1E1;