// ---------------------------------------------------------------------------
// Imports

@import "compass";
@import "susyone";
// @import "mixins";


// Grid Units
$total-columns  : 12;
$column-width   : 4em;
$gutter-width   : 1em;
$grid-padding   : 0em;
$break          : 50em 16;
$container-style: fluid;

// Typography
$base-font-size	: 14px;
$base-line-height : 20px;

//Colors
$links			: rgba(#0975AC,1);
$links-light		: rgba(#0975AC,.75);
$sky          	: rgba(#00D1E1,1);
$sky-light		: rgba(#00D1E1,.75);
$slate        	: #E1E1E1;